:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 700;
}

/* Utility Part */

.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}


.bg-black {
    background-color: black;
    color: white;
}

.rounded {
    border-radius: 7px;

}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-track{
    background-color: #222;
}


/* Main Part */

.close {
    display: none;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    margin: 4px 4px 4px 4px;
}

.right {
    width: 75vw;
    position: relative;
    margin: 9px 9px 9px 0px;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 18px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
    padding-left: 3px;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: grey;
    gap: 13px;
    background-color: rgb(12, 12, 12);
    border-radius: 10px;
    /* position: absolute; */
    bottom: 0;
    padding: 10px 10px;
}

.footer a {
    color: rgb(250, 248, 248);
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(12, 12, 12);
    border-radius: 8px;
}

.header>* {
    padding: 9px 20px;
    display: flex;
}

.spotifyPlaylists {
    padding: 9px;
}

.spotifyPlaylists h1 {
    padding: 0px 20px;
    font-size: 24px;
}

.line {
    color: #292828;
    padding-top: 3px;

}

.line:hover{
    color: #ffffff;
    cursor: pointer;
}

.cardContainer {
    margin: 17px 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 50vh;
    border-radius: 10px;
}

.card {
    width: 145px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252424;
    position: relative;
    transition: all .9s;
    /* border-radius: 10px; */
    background-color: rgb(12, 12, 12);
    padding: 15px;
}

.card:hover {
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}

.card>* {
    padding-top: 0px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
    padding-bottom: 12px;
}

.bg-black {
    background-color: black;
    color: white;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 128px;
    right: 20px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.signupbtn {
    font-weight: bold;
    border: 2px solid rgb(12, 12, 12);
    outline: none;
    cursor: pointer;
    font-size: 16px;
    right: 20px;
    background-color: rgb(12, 12, 12);
    color: rgb(121, 117, 117);
    padding: 0px 0px;
}

.buttons>* {
    margin: 0 5px;
}

.signupbtn:hover {
    color: #ffffff;
}

.loginbtn {
    background-color: white;
    border: black;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 9px;
    width: 89px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    background-color: rgb(211, 208, 208);
}

.playbar {
    position: fixed;
    bottom: 18px;
    filter: invert(1);
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 5px;
    width: 100%;
    padding: 3px;
    width: 71vw;
    min-height: 50px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgb(255, 255, 255, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 12px;
    width: 64px;
    padding: 12x;
}


.seekbar {
    height: 5px;
    width: 99%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 2px;
    margin: 6px;
    cursor: pointer;
}


.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}

.songtime {
    width: 125px;
    color: black;
    padding: 0 12px;
}

.volume {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.range input {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 35px);
        bottom: 5px;
        padding-left: 12px;
        background-color: white;
    }

    .seekbar {
        width: calc(100vw - 45px);
        ;
    }

    .hamburger {
        display: block;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        margin: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    

    .card {
        width: 55vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;

    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 25vh;
    }

    .play {
        width: 58px;
        height: 58px;
        bottom: 104px;
        right: 40px;
    }

    .btn1{
        display: none;
    }

    .btn2{
        padding-top: 3px;
    }

    .lr{
        display: none;
    }

}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 10px;
    }

    .buttons>* {
        margin: 0 4px;
    }

    .header {
        margin: 12px 15px 0px 15px;
    }

    .playbar {
        bottom: 5;
        border-radius: 15px;
        padding-left: 15px;
        background-color: #ffffff;
    }

    .library {
        height: 85vh;
    }

    .left {
        position: fixed;
        top: 0;
        width: 100vw;
    }

    .play {
        width: 48px;
        height: 48px;
        bottom: 98px;
        right: 35px;
    }

    .signupbtn {
        background-color: white;
        color: black;
        border-radius: 20px;
        padding: 5px 15px;
    }

    .seekbar {
        left: 7px;
    }

    .lr, .btn{
        display: none;
    }

    .line{
        display: none;
    }

}